@model RegisterVm

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Create your account</h1>
                </div>
                <div class="card-body">
                    <form asp-action="CreateAccount" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="Login" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm password</label>
                            <input type="password" class="form-control" id="confirmpassword" name="ConfirmPassword" placeholder="Confirm password">
                        </div>
                        <button asp-action="CreateAccount" type="submit" class="btn btn-primary btn-block">Register</button>
                        @if(Model != null && Model.Password != Model.ConfirmPassword)
                        {
                            <div class="container mt-3">
                                <div class="alert alert-danger text-center" role="alert">
                                    <label>Error: Account not created.</label>
                                </div>
                            </div>
                        }       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>