<head>
    <style>
        .btn {
            text-decoration: none;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            display: inline-block;
        }

            .btn:hover {
                background-color: #0056b3;
            }

        .container {
            text-align: center;
            margin-top: 20px;
        }

        .jumbotron {
            background-color: #f4f4f4;
            padding: 2rem 1rem;
        }

        .display-4 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .lead {
            font-size: 1.25rem;
            color: #666;
        }
    </style>
</head>

<header class="jumbotron text-center">
    <h1 class="display-4">Welcome to GameHub Service!</h1>
    <p class="lead">Your best game wikipedia!</p>
</header>


<div class="container">
    <a href="/games" class="btn">Explore Games</a>
</div>