<header class="jumbotron text-center">
    <h1 class="display-4">Welcome to GameHub Service!</h1>
    <p class="lead">Your best game wikipedia!</p>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Newness 1">
                <div class="card-body">
                    <h5 class="card-title">Newness 1</h5>
                    <p class="card-text">Description of the game.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Newness 2">
                <div class="card-body">
                    <h5 class="card-title">Newness 2</h5>
                    <p class="card-text">Description of the game.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Newness 3">
                <div class="card-body">
                    <h5 class="card-title">Newness 3</h5>
                    <p class="card-text">Description of the game.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>