@model PublisherVm

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="StockSymbol"></label>
        <input asp-for="StockSymbol" class="form-control" />
        <span asp-validation-for="StockSymbol" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm" title="Back to List">
        <i class="bi bi-arrow-left"></i>
    </a>
</form>