@model IEnumerable<GameVm>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Game name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Game_Name</td>
                <td>@game.Genre</td>
            </tr>
        }
    </tbody>
</table>