@model PlatformVm

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>@Model.Name</h2>
            <form asp-action="DeleteConfirm" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-primary btn-block">Delete</button>
            </form>
            <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm" title="Back to List">
                <i class="bi bi-arrow-left"></i>
            </a>
        </div>
    </div>
</div>